<p>Hello <%= @idea.user.full_name %>,</p>

<p><%= @user.full_name.capitalize %> has just liked your idea titled: <%= @idea.title %>.</p>

<p>Click <%#= link_to "here", idea_url(@idea) %> to view your idea.</p>

<p>Regards,</p>

<p>Idea Team</p>
